# Ignore files without extensions
.*
!*/
!*.*

# # Keep specific extensionless files
# !README
# !LICENSE
# !Makefile

*.pdf
*.pptx

error_file_lists.txt

temp.md
a.out

package-lock.json
package.json
node_modules

release

.DS_Store

*.o
