@import 'default';

/* default settings */
section {
  font-size: 14px !important;
  width: 960px;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 30px;
}

section * {
  font-size: inherit !important;
}

/* #, ##, ###, ####, #####, ###### */
h1 { font-size: 22px !important; }
h2 { font-size: 20px !important; }
h3 { font-size: 18px !important; }
h4 { font-size: 16px !important; }
h5 { font-size: 14px !important; }
h6 { font-size: 12px !important; }

/* `*`, `-`, `ol`, `ul` */
ul, ol {
  font-size: 14px !important;
  margin-left: 6px !important; /* indentation */
}

/* `li` */
li {
  margin-bottom: 3px !important;  /* a gap between lists */
}

/* `>` (Blockquote) */
blockquote {
  font-size: 14px !important;
  font-style: italic;
  color: #555;
  border-left: 5px solid #007acc;
  padding-left: 15px;
  margin-left: 20px !important;
}

/* code format */
pre code {
  font-size: 14px !important;
  display:inline-block;
  line-height: 1.2;
}

/* image alignmeht to center */
img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

/* mathjax */
mjx-container {
  font-size: 120% !important;
}
