@import "default";

/* vscode */
@import url("./highlight/styles/intellij-light.css");

/* code configurations */

/* sizeof obj; vs. sizeof(type); */
.hljs-keyword,
.hljs-built_in {
  color: #b58900;
}

/* struct foo a; vs. (struct foo) */
.hljs-title.class_ {
  all: unset;
  font-weight: normal;
  color: inherit;
}


/* default settings */
section {
  font-size: 16px !important;
  width: 1024px;
  height: 768px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 25px;
  line-height: 1.5;
}

section * {
  font-size: inherit !important;
}

/* #, ##, ###, ####, #####, ###### */
h1 { font-size: 28px !important; }
h2 { font-size: 24px !important; }
h3 { font-size: 20px !important; }
h4 { font-size: 18px !important; }
h5 { font-size: 16px !important; }
h6 { font-size: 14px !important; }

/* `*`, `-`, `ol`, `ul` */
ul, ol {
  font-size: 16px !important;
  margin-left: 8px !important; /* indentation */
}

/* `li` */
li {
  margin-bottom: 4px !important;  /* a gap between lists */
}

/* `>` (Blockquote) */
blockquote {
  font-size: 16px !important;
  font-style: italic;
  color: #444;
  border-left: 4px solid #007acc;
  padding-left: 12px;
  margin-left: 15px !important;
}

/* code format */
pre code {
  font-size: 16px !important;
  display:inline-block;
  line-height: 1.3;
}

/* image alignmeht to center */
img[alt~="center"] {
  display: block !important;
  margin: 0 auto !important;
}

/* Center-align the table */
table {
  margin: auto;  /* Centers the table */
  border-collapse: collapse;
  margin-top: 0;
}

/* Style table headers */
th {
  text-align: center;  /* Center-align header text */
  font-size: 1.2em;  /* Increase header font size */
  padding: 10px;
  background-color: #f2f2f2;
}

/* Style table cells */
td {
  text-align: center;  /* Center-align content */
  font-size: 1em;  /* Adjust text size */
  padding: 8px;
  border: 1px solid #ddd;
}

/* mathjax */
mjx-container {
  font-size: 130% !important;
}
